<div>
    <h2 data-translate="petiteAnnonceKmerApp.image.home.title">Images</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-custom-primary" ui-sref="image.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="petiteAnnonceKmerApp.image.home.createLabel">
                        Create new Image
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="petiteAnnonceKmerApp.image.fileName">File Name</span></th>
                    <th><span data-translate="petiteAnnonceKmerApp.image.title">Title</span></th>
                    <th><span data-translate="petiteAnnonceKmerApp.image.extention">Extention</span></th>
                    <th><span data-translate="petiteAnnonceKmerApp.image.contentType">Content Type</span></th>
                    <th><span data-translate="petiteAnnonceKmerApp.image.content">Content</span></th>
                    <th><span data-translate="petiteAnnonceKmerApp.image.declaration">Declaration</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in vm.images track by image.id">
                    <td><a ui-sref="image-detail({id:image.id})">{{image.id}}</a></td>
                    <td>{{image.fileName}}</td>
                    <td>{{image.title}}</td>
                    <td>{{image.extention}}</td>
                    <td>{{image.contentType}}</td>
                    <td>
                        <a ng-if="image.content" ng-click="vm.openFile(image.contentContentType, image.content)">
                            <img data-ng-src="{{'data:' + image.contentContentType + ';base64,' + image.content}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="image.content">{{image.contentContentType}}, {{vm.byteSize(image.content)}}</span>
                    </td>
                    <td>
                        <a ui-sref="declaration-detail({id:image.declaration.id})">{{image.declaration.title}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="image-detail({id:image.id})"
                                    class="btn btn-custom-cancel btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image.edit({id:image.id})"
                                    class="btn btn-custom-secondary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image.delete({id:image.id})"
                                    class="btn btn-custom-delete btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
