
<div>
    <h2><span data-translate="petiteAnnonceKmerApp.image.detail.title">Image</span> {{vm.image.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="petiteAnnonceKmerApp.image.fileName">File Name</span></dt>
        <dd>
            <span>{{vm.image.fileName}}</span>
        </dd>
        <dt><span data-translate="petiteAnnonceKmerApp.image.title">Title</span></dt>
        <dd>
            <span>{{vm.image.title}}</span>
        </dd>
        <dt><span data-translate="petiteAnnonceKmerApp.image.extention">Extention</span></dt>
        <dd>
            <span>{{vm.image.extention}}</span>
        </dd>
        <dt><span data-translate="petiteAnnonceKmerApp.image.contentType">Content Type</span></dt>
        <dd>
            <span>{{vm.image.contentType}}</span>
        </dd>
        <dt><span data-translate="petiteAnnonceKmerApp.image.content">Content</span></dt>
        <dd>
            <div ng-if="vm.image.content">
                <a ng-click="vm.openFile(vm.image.contentContentType, vm.image.content)">
                    <img data-ng-src="{{'data:' + vm.image.contentContentType + ';base64,' + vm.image.content}}" style="max-width: 100%;"/>
                </a>
                {{vm.image.contentContentType}}, {{vm.byteSize(vm.image.content)}}
            </div>
        </dd>
        <dt><span data-translate="petiteAnnonceKmerApp.image.declaration">Declaration</span></dt>
        <dd>
            <a ui-sref="declaration-detail({id:vm.image.declaration.id})">{{vm.image.declaration.title}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-custom-cancel">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="image-detail.edit({id:vm.image.id})" class="btn btn-custom-secondary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
