<div class="list-group">

      <!--  <div class="row" ng-repeat="declaration in vm.declarations track by declaration.id">
            <div class="col-sm-4">

                <a class="thumbnail" ng-if="declaration.images[0].content" ng-click="vm.openFile(declaration.images[0].contentContentType, declaration.images[0].content)">
                    <img data-ng-src="{{'data:' + declaration.images[0].contentContentType + ';base64,' + declaration.images[0].content}}"/>
                </a>
            </div>

            <div class="col-sm-8">
                <h3 class="title">{{declaration.title}}</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members</p>
                <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.</p>

                <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>

            </div>
            <hr>
        </div> -->

    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-md-offset-1">

            <a class="list-group-item media"
               href
               data-ng-click="vm.viewDeclaration(declaration.id)"
               data-ng-repeat="declaration in vm.declarations track by declaration.id">

                <div class="media-left" data-ng-if="declaration.miniature.content">
                    <img
                        class="media-object"
                        data-ng-src="{{'data:' + declaration.miniature.contentContentType + ';base64,' + declaration.miniature.content}}"
                        data-ngf-size="vm.settings"/>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{declaration.title}}</h3>
                    <p class="text-left">{{declaration.localisation.city}} / {{declaration.localisation.streetName}}</p>
                    <p class="text-left">{{declaration.price}} FCFA</p>
                    <p class="text-right">{{declaration.publishedDate|pakDate}}</p>
                </div>
            </a>

        </div>
    </div>
</div>
