

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                data-ng-click="vm.clear()">&times;</button>
        <h3 class="modal-title" id="declarationDetail" >
            {{vm.declaration.title}}</h3>
    </div>

    <div class="modal-body">

        <div uib-carousel active="0"  no-wrap="vm.noWrapSlides"  >
            <div uib-slide
                 ng-repeat="slide in vm.declaration.images track by slide.id"
                 index="$index">
                <img  data-ng-src="{{'data:' + slide.contentContentType + ';base64,' + slide.content}}"
                      data-ng-click="vm.openFile(slide.contentContentType, slide.content)">

                <!--
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <p>{{slide.title}}</p>
                </div> -->
            </div>
        </div> <br/>


        <ul class="list-group">
            <li class="list-group-item degrade-rouge">
                <label data-translate="declarationUser.declarationDetail.price"></label>
                <span class="pull-right">{{vm.declaration.price}} FCFA</span>
             </li>

            <li class="list-group-item degrade-rouge">
                <label data-translate="declarationUser.declarationDetail.city"></label>
                <span class="pull-right">{{vm.declaration.localisation.city}}</span>
            </li>

            <li class="list-group-item degrade-rouge">
                <label data-translate="declarationUser.declarationDetail.description"></label>
                <p >{{vm.declaration.description}}</p>
            </li>

            <li class="list-group-item degrade-rouge">
                <a href ng-click="vm.isCollapsed = !vm.isCollapsed">{{vm.declaration.owner.login}}</a>
                <div uib-collapse="vm.isCollapsed">
                        <ul class="list-group">
                            <li class="list-group-item no-border">
                                <label data-translate="declarationUser.declarationDetail.email"></label>
                                <span class="pull-right">{{vm.declaration.owner.email}}</span>
                            </li>
                            <li class="list-group-item no-border">
                                <label data-translate="declarationUser.declarationDetail.phoneNumber"></label>
                                <span class="pull-right">{{vm.declaration.owner.phoneNumber}}</span>
                            </li>
                        </ul>
                </div>
            </li>

        </ul>

    </div>

    <div class="modal-footer">
        <button  type="button" class="btn btn-custom-cancel" data-dismiss="modal" data-ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.back">retour</span>
        </button>

    </div>
